.Gamecard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 220px;
  height: 220px;
  margin: 14px;
  background: rgba(241, 244, 244, 0.18);
  border-radius: 16px;
  box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border-radius: 20px;
  transition: transform 0.3s ease;
}
.Gamecard:hover {
  transform: scale(1.05);
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 15px;
}
a {
  position: relative;
  max-width: 85%;
  max-height: 65%;
  display: inline-block;
  text-decoration: none;
}
p {
  color: #F4F5FF;
  font-size: 1em;
  font-weight: 500;
}
@keyframes hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}