@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,500&family=Source+Sans+3:wght@200..900&display=swap');

* {
    margin: 0;
}

.main {
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

:root {
  
}
.main {
  background-color: #2E0F6B;
  background-image: url("/background.svg");
  background-size: cover;
  padding: 20px;
}